<!DOCTYPE html>
<html>
  <head>
    <title>NotesApp - {% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/images/favicon.webp">
    <link rel="stylesheet" href="/static/styles/style.css" />
    <meta name="description"
          content="NotesApp is a cross platform web-based notes app designed by Callum, because he didn't like that Apple notes doesn't let you upload files from the browser and there's no PC app.">
    <link rel="canonical" href="https://t2.geekveggie.dev/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://t2.geekveggie.dev/">
    <meta property="og:title" content="NotesApp - {{self.title()|e}}">
    <meta property="og:description"
          content="NotesApp is a cross platform web-based notes app designed by Callum, because he didn't like that Apple notes doesn't let you upload files from the browser and there's no PC app.">
    <meta property="og:image" content="/static/images/favicon.webp">
    <meta property="twitter:card" content="summary_small_image">
    <meta property="twitter:url" content="https://t2.geekveggie.dev/">
    <meta property="twitter:title" content="NotesApp - {{self.title()|e}}">
    <meta property="twitter:description"
          content="NotesApp is a cross platform web-based notes app designed by Callum, because he didn't like that Apple notes doesn't let you upload files from the browser and there's no PC app.">
    <meta property="twitter:image" content="/static/images/favicon.webp">
  </head>
  <body>
    <label id="color-mode-container"
           class="checkbox-label" 
           for="color-mode">
      Dark Mode
      <input id="color-mode" type="checkbox" name="color-mode">
      <span class="checkmark"></span>
    </label>
    {% block content %}{% endblock %}
    <div id="context-menu" class="context-menu" style="display:none">
      <ul>
        <li onclick="contextCopy();">Copy</li>
        {% block contextMenu %}{% endblock %}
      </ul>
    </div>
    <script src="/static/scripts/contextMenu.js"></script>
    <link rel="stylesheet" href="/static/styles/contextMenu.css" />
    <script src="/static/scripts/theme.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>