{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/styles/index.css" />
<h1 class="center">NotesApp</h1>
<div class="notes">
  <div><span class="note-title">Note 1</span></div>
  <div><span class="note-title">Note 2</span></div>
  <div><span class="note-title">Note 3</span></div>
  <div><span class="note-title">Note 4</span></div>
  <div><span class="note-title">Note 5</span></div>
  <div><span class="note-title">Note 6</span></div>
  <div><span class="note-title">Note 7</span></div>
  <div><span class="note-title">Note 8</span></div>
  <div><span class="note-title">Note 9</span></div>
  <div><span class="note-title">Note 10</span></div>
</div>
{% endblock %}