{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/styles/index.css" />
<link rel="stylesheet" href="/static/styles/modal.css" />

<h1 class="center">NotesApp</h1>
<div class="notes" id="notes">
  <div class="note"><span class="note-title">Note 1</span></div>
  <div id="new-note">+</div>
</div>

<div id="new-note-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <label>What should your new note be called?</label><br>
    <input type="text" placeholder="All My Secrets" id="new-note-modal-name" />
    <button id="new-note-modal-create" style="margin-top: 1rem;">Ready to Write</button>
  </div>
</div>
{% endblock %}

{% block contextMenu %}
<li id="copy-note-name" onclick="copyNoteName()">Copy Note Name</li>
<li id="delete-note" onclick="deleteNote()">Delete Note</li>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/note.js"></script>
<script src="/static/scripts/index.js"></script>
{% endblock %}