{% extends 'base.html' %}
{% block title %}Memory I Trust You Not{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/styles/index.css" />
<link rel="stylesheet" href="/static/styles/modal.css" />

<h1 class="center">Memory I Trust You Not</h1>
<div class="notes" id="notes">
  <div class="note" id="note-template">
    <img src="/static/images/trash.svg" class="delete-note" />
    <img src="/static/images/edit.svg" class="rename-note" />
    <span class="note-title">Note 1</span>
  </div>
  <div id="new-note">+</div>
</div>

<div id="new-note-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <label>What should your new note be called?</label><br>
    <input type="text" placeholder="All My Secrets" id="new-note-modal-name" />
    <button id="new-note-modal-create" style="margin-top: 1rem;">Ready to Write</button>
  </div>
</div>
{% endblock %}

{% block contextMenu %}
<li id="copy-note-name">Copy Note Name</li>
<li id="rename-note"   >Rename Note</li>
<li id="delete-note"   >Delete Note</li>
{% endblock %}

{% block scripts %}
<script>
// http://www.leakon.com/archives/865
((_encodeURIComponent) => {
  encodeURIComponent = (str) => {
    return _encodeURIComponent(str)
      .replace(/%2F/g, '%252F')
      .replace(/%5C/g, '%255C');
  };
})(encodeURIComponent);
((_decodeURIComponent) => {
  decodeURIComponent = (str) => {
    return _decodeURIComponent(str)
      .replace(/%2F/g, '/')
      .replace(/%5C/g, '\\');
  };
})(decodeURIComponent);
</script>
<script src="/static/scripts/note.js"></script>
<script src="/static/scripts/index.js"></script>
{% endblock %}