.notes {
  --note-size: 12rem;
  --notes-per-row: 4;
  --note-spacing: 3rem;
  --note-padding: 5px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(var(--notes-per-row), calc(var(--note-size) + var(--note-spacing)));
  padding: 10px;
  max-width: calc((var(--note-size) + var(--note-spacing)) * var(--notes-per-row) + var(--note-spacing));
}
@media only screen and (max-width: 1000px) {
  .notes {
    --note-size: 8rem;
    --notes-per-row: 2;
    --note-spacing: 2rem;
    --note-padding: 3px;
  }
}
.notes > * {
  margin: 0 auto var(--note-spacing) auto;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  padding: var(--note-padding);
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  width: var(--note-size);
  height: var(--note-size);
  vertical-align: middle;
  border-radius: 5px;
  user-select: none;
}
.notes > *:hover {
  padding: calc(var(--note-padding) * 2);
  box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border: 2px solid var(--accent);
}
.notes > *:active {
  padding: calc(var(--note-padding) * 3);
  box-shadow: 2px 6px 27px rgba(0, 0, 0, 0.4);
}