.modal {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s opacity;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}
.modal.active {
  opacity: 1;
  pointer-events: auto;
  transition: 0.2s opacity;
}
  
.modal-content {
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%) scale(0);
  background-color: var(--background);
  padding: 1rem;
  width: 80%;
  min-height: 30%;
  box-shadow: 2px 6px 9px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.2s transform;
}
.modal.active .modal-content {
  transform: translate(50%,-50%) scale(1);
  transition: 0.2s transform;
}

@media only screen and (max-width: 1000px) {
  .modal-content > label {
    word-wrap: break-word;
    margin-right: 4rem;
    margin-bottom: auto;
    font-size: clamp(9vw, 1rem, 4rem);
  }
}

.modal-content > * {
  color: var(--primary);
  font-size: clamp(3vw, 1rem, 4rem);
}

.close {
  display:block;
  position:absolute;
  top: 0;
  right: 0;
  margin-top: -2rem;
  padding: 0;
  text-decoration:none;
  
  color: #af2c2c;
  font-size: 5rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #811818;
  text-decoration: none;
  cursor: pointer;
}